.App {
  display: grid;
}



form {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align-last: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.databox{
  border: 1;
  font-size: calc(4px + 2vmin);
  color: #666970;
  background-color: #272736


}

.App-link {
  color: #61dafb;
}


